# PocketBase Configuration
NEXT_PUBLIC_POCKETBASE_URL=your_pocketbase_url
POCKETBASE_ADMIN_EMAIL=your_pocketbase_admin_email
POCKETBASE_ADMIN_PASSWORD=your_pocketbase_admin_password

# WhatsApp Configuration
NEXT_PUBLIC_WHATSAPP_NUMBER=+265991234567

# Optional: Environment
NODE_ENV=development
